@font-face{
	font-family: 'lato_regular';
	src:url('../fonts/lato/Lato-Regular.ttf');
}

@font-face{
	font-family: 'lato_black';
	src:url('../fonts/lato/Lato-Black.ttf');
}

@font-face{
	font-family: 'lato_bold';
	src:url('../fonts/lato/Lato-Bold.ttf');
}

@font-face{
	font-family: 'lato_light';
	src:url('../fonts/lato/Lato-Light.ttf');
}

@font-face{
	font-family: 'lato_thin';
	src:url('../fonts/lato/Lato-Thin.ttf');
}

@font-face{
	font-family: 'coco_gothic';
	src:url('../fonts/coco-gothic/Newake-Font-Demo.otf');
}

@font-face{
	font-family: 'montserrat_regular';
	src:url('../fonts/montserrat/static/Montserrat-Regular.ttf');
}


@font-face{
	font-family: 'montserrat_black';
	src:url('../fonts/montserrat/static/Montserrat-Black.ttf');
}


@font-face{
	font-family: 'montserrat_bold';
	src:url('../fonts/montserrat/static/Montserrat-Bold.ttf');
}

@font-face{
	font-family: 'montserrat_medium';
	src:url('../fonts/montserrat/static/Montserrat-Medium.ttf');
}

@font-face{
	font-family: 'montserrat';
	src:url('../fonts/montserrat/Montserrat-VariableFont_wght.ttf');
}
@font-face{
	font-family: 'NotoSansMyanmar-Regular';
	src:url('../fonts/myanmarfont/NotoSansMyanmar-Regular.ttf');
}

@font-face{
	font-family: 'NotoSansMyanmar-Bold';
	src:url('../fonts/myanmarfont/NotoSansMyanmar-Bold.ttf');
}

@font-face{
	font-family: 'NotoSerifMyanmar-Regular';
	src:url('../fonts/myanmarfont/NotoSerifMyanmar-Regular.ttf');
}

@font-face{
	font-family: 'NotoSerifMyanmar-Bold';
	src:url('../fonts/myanmarfont/NotoSerifMyanmar-Bold.ttf');
}

.lato_bold{
	font-family: lato_bold;
}

.lato_light{
	font-family: lato_light;
}

.lato_thin{
	font-family: lato_thin;
}

.lato_black{
	font-family: lato_black;
}

.lato_regular{
	font-family: lato_regular;
}


.logo_font{
	font-family: coco_gothic;
}

