.code-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 40px 0;
	flex-wrap: wrap;
}

.code {
	border-radius: 5px;
	border: 1px solid #eee;
	font-size: 75px;
	font-weight: 300;
	margin: 1%;
	height: 120px;
	/*width: 100px;*/
	text-align: center;
    -moz-appearance:textfield; /* Firefox */
}

.code:valid {
	border-color: #3498db;
	box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.code:focus-visible {
  outline: 1px solid #012970;
}